{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{%endblock%}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="{% static 'js/script.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
   <br> <center><img id="nav_logo" src="{% static 'images/Black_Logo_PNG.png' %}" alt="">
    <div class="socials">
        <center>
            <a href="https://b-m.facebook.com/stichaudio/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://open.spotify.com/artist/07ZNLIZzXcQbDySKL8vwXW?si=Yh6jls_HRNqEPGPZD9bvhw" target="_blank"><i class="fa-brands fa-spotify"></i></a>
            <a href="https://www.instagram.com/stichaudio/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/Stich92058778" target="_blank"><i class="fa-brands fa-twitter"></i></a> 
            <a href="https://soundcloud.com/stichaudio" target="_blank"><i class="fa-brands fa-soundcloud"></i></a>
            <a href="https://music.apple.com/us/artist/stich/146040812okey2" target="_blank"><i class="fa-brands fa-apple"></i></a>
        </center>
    </div>
</center><br>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/tour">Tour</a></li>
                <li><a href="/pkit">Press Kit</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        {% block body %}{% endblock body %}
    </div><br>
   <br>
  <hr>
    <footer style="background-color: black">
        <div class="flinks">
            <h2>STICH</h2><br>
            <div>
                <p>
                    We use the modal expression be about to as an adjective in the modal expression be about to <br> refer to something that will happen very soon in the future: … "What’s that book about?" "It’s about the Civil<br> War." I don’t know what all the fuss is about. There’s something about her attitude that worries me He looked<br> as if he was about to burst into tears. I’m not about to apologize to him.
                </p>
            </div>
        </div><br>
        <div class="flinks">
            <h2>QUICK LINKS</h2><br>
            <ul class="foolink">
                <a href="">Home</a><br>
                <a href="/gallery">Gallery</a><br>
                <a href="/music">Music</a><br>
                <a href="/videos">Videos</a><br>
                <a href="/tour">Tour</a><br>
                <a href="/pkit">Presskit</a><br>
                <a href="/contact">Contact</a><br>
            </ul>
           
        </div>
        
    </footer><hr>
    <center><br>
        <p>© 2021 STICHSOUND  |  ALL RIGHTS RESERVED </p>
    </center><br>
</body>
</html>