{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock title %}

{% block body %}
<div class="gallery">
   
<div class="card4">
     {% for gallery in gallery_obj %}
    <div class="card-body1" >
        <div class="img">
            <img src="{{gallery.image.url}}" alt="">    
        </div>
        <div class="text-post hide">
            <h2>{{gallery.text}}</h2>   
        </div>
        
        
    </div>
    {% endfor %}
</div>
</div>
<script>
    var cardb=document.querySelectorAll('.img')
    var texts=document.querySelectorAll('.text-post')
    cardb.forEach((card)=>{
        card.addEventListener('mouseleave',()=>{
      
            texts.forEach((text)=>{
                text.classList.add('hide')
            })
        })
        card.addEventListener('mouseover',()=>{
            
            texts.forEach((text)=>{
                text.classList.remove('hide')
            })
        })
    })
  
   
   


</script>
{% endblock body %}