{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}
<div>
    <div class="sta-img"><br><br>
        {% if home_data.poster_image %}
        <img src="{{home_data.poster_image.url}}" alt="" class="img-hm">
        {% else %}
        <img src="{% static 'images/DSC09196.jpg' %}" alt="" class="img-hm">
       {% endif %}
    </div>
</div>


<div class="card hcard">
    {% for home in home_obj %}
    <div class="card-body">
        {% if home.link %}
        <a href="{{home.link}}"><img src="{{home.image.url}}" alt=""></a>
        {% else %}
        <a href=""><img src="{{home.image.url}}" alt=""></a>
        {% endif %}
    </div>
    {% endfor %}
    <!-- endfor -->
</div>
<br><br>
<div class="about">
    <center><h2>About</h2></center><br>
    <div class="abouttt">
        <div class="aboutttt">
            <p>{{home_data.about}}</p>
        </div>
    <img src="{{home_data.image.url}}" alt="">
    </div>
</div><br><br>

{% endblock body %}