{% extends 'base.html' %}
{% load static %}
{% block title %}Press Kit{% endblock title %}

{% block body %} <br><br>
<div class="btns">
    <center>
        <a href="" download="{{pkit_obj.presskit}}"><input type="button" value="Download PressKit"><br></a>
        <a href="" download="{{pkit_obj.work_profile}}"><input type="button" value="Download WorkProfile"></a>
    </center>

</div>

<div class="kit">
    <div class="mimg">
        <div class="mimgg">
            <img src="{{pkit_obj.image.url}}" alt="">
        </div>
    </div>
    <div class="d">
        <h3>INFO</h3><br>
        <!-- for loop -->
        <p><strong>Genre: </strong>  {{pkit_obj.genre}}</p><br>
        <p><strong>Years Active: </strong>  {{pkit_obj.years_active}}.</p><br>
        <p><strong>Origin: </strong>  {{pkit_obj.origin}}.</p>
        <br>
        <h3>BIO</h3><br>
        <p>
            {{pkit_obj.bio}}
        </p>
 
    </div>
      
    
</div>
        
{% endblock body %}