
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-family: 'Gemunu Libre', sans-serif;
    overflow-x: hidden;
    font-size: 20px;
}

.socials{
    font-size: 24px;
}
.fa-brands{
    border-radius: 52%;
    padding: 10px;

    color: white;
    background-color: black;
    margin-top: 10px;
    width: 44px;
    text-align: center;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
}
a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
nav ul li a:hover{
    color: rgb(171, 165, 165);
}
.sta-img{
    display: grid;
    place-items: center;
}
.img-hm{
    width: 50%;
    object-fit: cover;
    height: 580px;
    transition: .3s linear;
}



.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.card3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card1{
    display: grid;
    grid-template-columns: 1fr ;

}
.card2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

}
.card4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card4 .card-body1 img:hover{
    opacity: 0.4;
}
.card4 .card-body1 img:hover ~ .text-post{
    opacity: 1;
}
.card .card-body{
    box-shadow: 1px 5px 20px rgb(204, 197, 197);
    margin: 30px;
    border-radius: 10px;
    transition: .3s linear;
}
.card .card-body:hover{
    box-shadow: 2px 2px 40px 1px black;
}
.card3 .card-body3{
   box-shadow: 1px 5px 20px rgb(204, 197, 197);
   margin: 30px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   border-radius: 10px;
   padding: 10px 0px;
   transition: .3s linear;
}
.card3 .card-body3 img{
    width: 40%;
}
.card3 .card-body3 audio{
    width: 100%;
}
.card3 .card-body3 .mb{
    width: 50%;
    padding: 10px;
}
.mb h3{
    margin: 5px;
    font-weight: 550;
    margin-bottom: 10px;
}
.mb p{
    margin: 5px;
    margin-bottom: 20px;
}
.card1 .card-body{
    box-shadow: 1px 5px 20px rgb(204, 197, 197);
    margin: 20px 50px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s linear;
}
.card1 .card-body:hover{
    box-shadow: 1px 1px 40px 1px rgb(113, 110, 110);
}
.card-body1{
    box-shadow: 1px 5px 20px rgb(204, 197, 197);
    margin: 20px;

}
.card .card-body img{
    width: 100%;
    height: 100%;
}
.card4 .card-body1 img{
    height: 400px;
    width: 100%;
    transition: .3s linear;
    margin-top: 20px;
}
.about{
    width: 100%;
    padding: 40px;
    background-color: rgba(211, 207, 207, 0.736);
}
.about h2{
    border: 1px solid black;
    width: 10%;
    text-align: center;
    padding: 10px;
}
.abouttt{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.aboutttt {
    width: 50%;
    word-wrap: break-word;
    margin: 10px;
}
.abouttt img{
    width: 40%;
}
.text-post{
   position: relative;
   top: -50%;
   left: 40%;
   width: 100%;
   opacity: 0;
}
.card .card-body1 img:hover{
    opacity: 0.3;
    cursor: pointer;
}
.card .card-body1 img:hover ~ .text-post{
    opacity: 1;
}
.card .card-body video{
    width: 100%;
}
.vidpost{
    margin-top: 30px;
}
.kit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.kit .d{
    margin: 20px;
    margin-left: 20%;
    width: 35%;
}
.d p{
    width: 100%;
    word-wrap: break-word;
}
.mimg{
    margin-right: 5%;
    width: 48%;
}
.mimg img{
    object-fit: cover;
    width: 100%;
}
.btns input{
    padding: 10px;
    background-color: transparent;
    margin: 10px;
    transition: .3s linear;
    border-radius: 4px;
}
.btns input:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.inputs{
    padding: 10px;
    margin-bottom: 10px;
    width: 500px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid;
    outline: none;
}
textarea{
    margin-bottom: 10px;
    width: 500px;
    font-size: 16px;
    resize: none;
    padding: 10px;
    border-radius: 4px;
    outline: none;
}
.btnsb{
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    width: 100px;
    transition: .3s linear;
    cursor: pointer;
    border-radius: 4px;
}
.btnsb:hover{
    background-color: black;
    color: white;
}


.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.active{
    color: black;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
  }
  .flinks{
    color: white;
  }
  .flinks p{
    color: rgba(128, 128, 128, 0.797);
  }
  .flinks a{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.797);
  }